.logo {
    position: absolute;
    top: 20px;
    left: 20px; 
    width: 250px;
    margin-bottom: 20px;
}

.login {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    margin-left: 780px;
}

.signup {
    width: 250px;
    margin-top: 20px;
    margin-left: 1150px;
}

.boxheadings {
    border-bottom: 2px solid #000;
    padding-bottom: 0px;
    margin: 0;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 40px;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-left: 550px;
    margin-right: 275px;
}

.tile {
    display: flex;
    font-family: sans-serif;
    text-align: center;
    flex-direction: column; 
    border: 2px solid #ec7709;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    flex: 1; 
    margin: 0 0 30px 0;
}


@media screen and (max-width: 800px) {
    .tile-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


  .tile h2 {
    text-align: center;
  }
  
  .login2 {
    margin-top: 200px;
    margin-left: 15px;
    width: 250px;
    display: block;
  }

  .signup2 {
    margin-top: 20px;
    margin-left: 15px;
    width: 250px;
    display: block;
  }

  .loginbox {
    font-family: sans-serif;
    text-align: center;
    border: 2px solid #53d647;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 700px;
    margin-right: 700px;
  }

  .loginbox form input {
    border: 2px solid #ec7709;
    border-radius: 10px; 
    padding: 10px;
    margin: 5px;
    width: 350px;
    box-sizing: border-box;
}


.loginbox form label { 
    margin-top: 0px;
}

.loginbutton {
    width: 200px;
}

.myrecipes {
    font-size: 25px;
    border-bottom: 2px solid #000;
    padding-bottom: 0;
    font-weight: normal;
    font-family: sans-serif
}

.mygrocerylist {
    font-size: 25px;
    border-bottom: 2px solid #000;
    padding-bottom: 0;
    font-weight: normal;
    font-family: sans-serif;
}

.mypantry {
    font-size: 25px;
    border-bottom: 2px solid #000;
    padding-bottom: 0;
    font-weight: normal;
    font-family: sans-serif;
}

.myaccount {
    font-size: 25px;
    border-bottom: 2px solid #000;
    padding-bottom: 0;
    font-weight: normal;
    font-family: sans-serif;
}

.headerbuttons {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    gap: 100px;
    margin-left: 600px;
    margin-bottom: 80px;
}

.button-box {
    margin-top: 20px;
    margin-left: 10px;
    width: 250px;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    border: 2px solid #53d647;
    border-radius: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.sidebuttons {
   margin-top: 10px;
}

.signupbutton {
    width: 200px;
    margin-top: 20px;
}

.signupbox {
    font-family: sans-serif;
    text-align: center;
    border: 2px solid #53d647;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 20px;
  }

  .signupbox form input {
    border: 2px solid #ec7709;
    border-radius: 10px; 
    width: 350px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}


.signupbox form label { 
    margin-top: 0px;
}